<!-- As a link -->
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="onClickAdd()">Add</button>

</nav>

<div class="container mt-5">
  <table class="table table-stripped">
    <thead>
      <tr>

        <th scope="col">Sr.no</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of allData">
        <td>{{data.id}}</td>
        <td>{{data.name}}</td>
        <td>{{data.email}}</td>
        <td><button class="btn btn-light" (click)="editData(data)" data-toggle="modal" data-target="#exampleModal">
          <i class="bi text-primary bi-pencil-square"></i></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button class="btn btn-light" (click)="deleteCurdData(data)"><i class="bi text-danger bi-trash" ></i></button>
          </td>
      </tr>
    </tbody>
  </table>

</div>



<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">
          <div class="form-group">
            <label for="">Name</label>
            <input type="text" name="" id="" placeholder="enter name" class="form-control" formControlName="name">
          </div>
          <div class="form-group">
            <label for="">Email</label>
            <input type="text" name="" id="" placeholder="enter email" class="form-control" formControlName="email">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancle" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="postCurdData()" *ngIf="showAdd">Add</button>
        <button type="button" class="btn btn-primary" (click)="updateData()" *ngIf="showUpdate">Update</button>
      </div>
    </div>
  </div>
</div>
